article
  .author-list-link
    font-size: 18px

  .author-list-count
    font-size: 14px
    color: #555

  .author-list-count:before
    content: ' ('

  .author-list-count:after
    content: ' 篇)'
